* {
    box-sizing: border-box;
  }

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 6vw;
    text-overflow: clip;
    margin: 0;
    padding: 40px 20px 20px 20px;
    height: 70px;
    color: red;
    background-color: black;
}

body {
    margin: 0;
  }

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(233, 34, 37, 0.961);
  color:black;
  padding: 10px;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.players {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}

.gameBoard {
display: flex;
justify-content: space-evenly;
align-items: center;
height: 200px;
margin: 0;
padding: 30px;
}

.backCard{
    display: flex;
    flex-direction: column; 
}

.card{
    display: flex;
    justify-content: center;
    height: 140px;
    width: 100px;
    background-color: transparent;
    border-radius: 0.20em;
    border: 1px solid black;
  /* Scale and set the background settings. */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  /* "Hide" any text within the element (use text to be
     simply compliant with screen readers, etc.). */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.face-container {
  border: none;
}

img {
   height: 130px;
   width: 100px;
}

.score {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 20px;
    height: 30px;
}

.resetButton{
    display: flex;
    justify-content: center;
    align-items: center;  
}

#reset {
    
    font-size: 16px;
    background-color: white;
    border: 2px solid black;
    padding: .25em, .5em;
    border-radius: 8px;
    cursor: pointer;
}

#reset:hover {
    color: red;
    background-color: black;
    border-color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding: 10px;
    height: 30px;
    font-size: 10px;
}

.card.diamonds.K,
.card.dK,
.card.♦K {
  background-image: ("../images/diamonds/diamonds-K.svg"); }

.card.diamonds.Q,
.card.dQ,
.card.♦Q {
  background-image:("../images/diamonds/diamonds-Q.svg"); }

.card.diamonds.J,
.card.dJ,
.card.♦J {
  background-image: ("../images/diamonds/diamonds-J.svg"); }

.card.diamonds.r10,
.card.d10,
.card.♦10 {
  background-image: ("../images/diamonds/diamonds-r10.svg"); }

.card.diamonds.r09,
.card.d09,
.card.♦09 {
  background-image: ("../images/diamonds/diamonds-r09.svg"); }

.card.diamonds.r08,
.card.d08,
.card.♦08 {
  background-image: ("../images/diamonds/diamonds-r08.svg"); }

.card.diamonds.r07,
.card.d07,
.card.♦07 {
  background-image: ("../images/diamonds/diamonds-r07.svg"); }

.card.diamonds.r06,
.card.d06,
.card.♦06 {
  background-image: ("../images/diamonds/diamonds-r06.svg"); }

.card.diamonds.r05,
.card.d05,
.card.♦05 {
  background-image: ("../images/diamonds/diamonds-r05.svg"); }

.card.diamonds.r04,
.card.d04,
.card.♦04 {
  background-image: ("../images/diamonds/diamonds-r04.svg"); }

.card.diamonds.r03,
.card.d03,
.card.♦03 {
  background-image: ("../images/diamonds/diamonds-r03.svg"); }

.card.diamonds.r02,
.card.d02,
.card.♦02 {
  background-image: ("../images/diamonds/diamonds-r02.svg"); }

.card.hearts.A,
.card.hA,
.card.♥A {
  background-image: ("../images/hearts/hearts-A.svg"); }

.card.hearts.K,
.card.hK,
.card.♥K {
  background-image: ("../images/hearts/hearts-K.svg"); }

.card.hearts.Q,
.card.hQ,
.card.♥Q {
  background-image: ("../images/hearts/hearts-Q.svg"); }

.card.hearts.J,
.card.hJ,
.card.♥J {
  background-image: ("../images/hearts/hearts-J.svg"); }

.card.hearts.r10,
.card.h10,
.card.♥10 {
  background-image: ("../images/hearts/hearts-r10.svg"); }

.card.hearts.r09,
.card.h09,
.card.♥09 {
  background-image: ("../images/hearts/hearts-r09.svg"); }

.card.hearts.r08,
.card.h08,
.card.♥08 {
  background-image: ("../images/hearts/hearts-r08.svg"); }

.card.hearts.r07,
.card.h07,
.card.♥07 {
  background-image: ("../images/hearts/hearts-r07.svg"); }

.card.hearts.r06,
.card.h06,
.card.♥06 {
  background-image: ("../images/hearts/hearts-r06.svg"); }

.card.hearts.r05,
.card.h05,
.card.♥05 {
  background-image: ("../images/hearts/hearts-r05.svg"); }

.card.hearts.r04,
.card.h04,
.card.♥04 {
  background-image: ("../images/hearts/hearts-r04.svg"); }

.card.hearts.r03,
.card.h03,
.card.♥03 {
  background-image: ("../images/hearts/hearts-r03.svg"); }

.card.hearts.r02,
.card.h02,
.card.♥02 {
  background-image: ("../images/hearts/hearts-r02.svg"); }

.card.spades.A,
.card.sA,
.card.♠A {
  background-image: ("../images/spades/spades-A.svg"); }

.card.spades.K,
.card.sK,
.card.♠K {
  background-image: ("../images/spades/spades-K.svg"); }

.card.spades.Q,
.card.sQ,
.card.♠Q {
  background-image: ("../images/spades/spades-Q.svg"); }

.card.spades.J,
.card.sJ,
.card.♠J {
  background-image: ("../images/spades/spades-J.svg"); }

.card.spades.r10,
.card.s10,
.card.♠10 {
  background-image: ("../images/spades/spades-r10.svg"); }

.card.spades.r09,
.card.s09,
.card.♠09 {
  background-image: ("../images/spades/spades-r09.svg"); }

.card.spades.r08,
.card.s08,
.card.♠08 {
  background-image: ("../images/spades/spades-r08.svg"); }

.card.spades.r07,
.card.s07,
.card.♠07 {
  background-image: ("../images/spades/spades-r07.svg"); }

.card.spades.r06,
.card.s06,
.card.♠06 {
  background-image: ("../images/spades/spades-r06.svg"); }

.card.spades.r05,
.card.s05,
.card.♠05 {
  background-image: ("../images/spades/spades-r05.svg"); }

.card.spades.r04,
.card.s04,
.card.♠04 {
  background-image: ("../images/spades/spades-r04.svg"); }

.card.spades.r03,
.card.s03,
.card.♠03 {
  background-image: ("../images/spades/spades-r03.svg"); }

.card.spades.r02,
.card.s02,
.card.♠02 {
  background-image: ("../images/spades/spades-r02.svg"); }

.card.clubs.A,
.card.cA,
.card.♣A {
  background-image: ("../images/clubs/clubs-A.svg"); }

.card.clubs.K,
.card.cK,
.card.♣K {
  background-image: ("../images/clubs/clubs-K.svg"); }

.card.clubs.Q,
.card.cQ,
.card.♣Q {
  background-image: ("../images/clubs/clubs-Q.svg"); }

.card.clubs.J,
.card.cJ,
.card.♣J {
  background-image: ("../images/clubs/clubs-J.svg"); }

.card.clubs.r10,
.card.c10,
.card.♣10 {
  background-image: ("../images/clubs/clubs-r10.svg"); }

.card.clubs.r09,
.card.c09,
.card.♣09 {
  background-image: ("../images/clubs/clubs-r09.svg"); }

.card.clubs.r08,
.card.c08,
.card.♣08 {
  background-image: ("../images/clubs/clubs-r08.svg"); }

.card.clubs.r07,
.card.c07,
.card.♣07 {
  background-image: ("../images/clubs/clubs-r07.svg"); }

.card.clubs.r06,
.card.c06,
.card.♣06 {
  background-image: ("../images/clubs/clubs-r06.svg"); }

.card.clubs.r05,
.card.c05,
.card.♣05 {
  background-image: ("../images/clubs/clubs-r05.svg"); }

.card.clubs.r04,
.card.c04,
.card.♣04 {
  background-image: ("../images/clubs/clubs-r04.svg"); }

.card.clubs.r03,
.card.c03,
.card.♣03 {
  background-image: ("../images/clubs/clubs-r03.svg"); }

.card.clubs.r02,
.card.c02,
.card.♣02 {
  background-image: ("../images/clubs/clubs-r02.svg"); }

.card.joker-black {
  background-image: ("../images/jokers/joker-black.svg"); }

.card.joker-red {
  background-image: ("../images/jokers/joker-red.svg"); }
